{% extends 'base.html' %}

{% block title %} Passwords | Keepar {% endblock %}

{% block mainContent %}

<div class="title">
  <div class="title-container">
    <i class="uil uil-key-skeleton title-icon"></i>
    <span class="text">Passwords</span>
  </div>
  <a href="/passwords">
    <div class="add-button">
      <div class="add">cancle</div>
      <i class="uil uil-times add-icon"></i>
    </div>
  </a>
</div>

<div class="add-item-wrapper">
    <h1>Add New Password</h1>
    <form action="/addpassword" role="form" method="POST">
      {% csrf_token %}
      <div class="input-container">
        <input type="text" name="name" autocomplete="off" />
        <span class="lable">Name:</span>
        <span class="lable-sm">Name</span>
      </div>
      <div class="input-container">
        <input type="text" name="url" autocomplete="off" />
        <span class="lable">Url/Website:</span>
        <span class="lable-sm">Url/Website</span>
      </div>
      <div class="input-container">
        <input type="email" name="email" autocomplete="off" />
        <span class="lable">Email:</span>
        <span class="lable-sm">Email</span>
      </div>
      <div class="input-container">
        <input type="password" name="password" autocomplete="off" />
        <span class="lable">Password:</span>
        <span class="lable-sm">Password</span>
      </div>

      <button type="submit" value="save" name="add-password">
        Save
      </button>
    </form>
    <div class="member">Make sure using correct URL and Email!</div>
</div>

{% endblock mainContent %}
