{% extends 'base.html' %}

{% block title %} Cards | Abstractor {% endblock %}

{% block mainContent %}

<div class="title">
  <div class="title-container">
    <i class="uil uil-credit-card title-icon"></i>
    <span class="text">Card Details</span>
  </div>
  <a href="/addcard">
    <div class="add-button">
      <div class="add">Add</div>
      <i class="uil uil-plus add-icon"></i>
    </div>
  </a>
</div>

<div class="boxes">
  {% if cards %} {% for card in cards %}
  <li class="item">
    <div class="upper">
      <div class="logo-name">
        <div class="logo-container transparent-bg">
          <i class="uil uil-credit-card"></i>
        </div>
        <div class="upper-left hide-element">{{card.holder_name}}</div>
      </div>
      <div class="upper-center">{{card.bank_name}}</div>
      <div class="arrow">
        <i class="uil uil-angle-right-b toggle-trigger"></i>
      </div>
    </div>
    <div class="bottom">
      <hr class="h-line" />
      <div class="bottom-container">
        <div class="card-num-container">
          <div>Card Number:</div>
          <div>{{card.card_number}}</div>
        </div>
        <div class="exp-date-container">
          <div>Expiry Date:</div>
          <div class="exp-date">
            <div>{{card.expiry_date}}</div>
            <i class="uil uil-copy copy-icon"></i>
          </div>
        </div>
        <div class="cvv-container">
          <div>cvv:</div>
          <div class="cvv-con">
            <div class="cvv">
              <p>{{card.key}}</p>
              <i class="uil uil-eye-slash icon"></i>
            </div>
            <i class="uil uil-copy copy-icon"></i>
          </div>
        </div>
      </div>
      <div class="item-btns item-btns-center">
        <a
          href="javascript:;"
          onclick="document.getElementById('delete-btn{{card.id}}').click();"
          class="delete btn"
          >Delete</a
        >
        <form hidden="true" action="/cards" method="POST">
          {% csrf_token %}
          <input
            type="text"
            hidden="true"
            name="card-id"
            value="{{card.id}}"
          />
          <button
            type="submit"
            id="delete-btn{{card.id}}"
            name="delete"
          ></button>
        </form>
        <a href="{% url 'updatecard' card.id %}">
          <button class="edit btn">Edit</button>
        </a>
      </div>
    </div>
  </li>
  {% endfor %} {% endif %}
</div>

{% endblock mainContent %}