{% extends 'base.html' %}

{% block title %} Notes | Keepar {% endblock %}

{% block mainContent %}

<div class="title">
  <div class="title-container">
    <i class="uil uil-notebooks title-icon"></i>
    <span class="text">Notes</span>
  </div>
  <a href="/addnote">
    <div class="add-button">
      <div class="add">Add</div>
      <i class="uil uil-plus add-icon"></i>
    </div>
  </a>
</div>

<div class="boxes">
  {% if notes %} {% for note in notes %}
  <li class="item">
    <div class="upper">
      <div class="logo-name">
        <div class="logo-container transparent-bg">
          <i class="uil uil-notes"></i>
        </div>
        <div class="upper-left">{{note.topic}}</div>
      </div>
      <div class="upper-center hide-element upper-center">{{note.created_date}} <span>{{note.created_time}}</span></div>
      <div class="arrow">
        <i class="uil uil-angle-right-b toggle-trigger"></i>
      </div>
    </div>
    <div class="bottom">
      <hr class="h-line" />
      <p class="bottom-container">{{note.desc}}</p>
      <div class="item-btns">
        <a
          href="javascript:;"
          onclick="document.getElementById('delete-btn{{note.id}}').click();"
          class="delete btn"
          >Delete</a
        >
        <form hidden="true" action="/notes" method="POST">
          {% csrf_token %}
          <input
            type="text"
            hidden="true"
            name="note-id"
            value="{{note.id}}"
          />
          <button
            type="submit"
            id="delete-btn{{note.id}}"
            name="delete"
          ></button>
        </form>
        <button class="edit btn">Edit</button>
      </div>
    </div>
  </li>
  {% endfor %} {% endif %}
</div>

{% endblock mainContent %}