{% extends 'base.html' %}

{% block title %} Add Note | Abstractor {% endblock %}

{% block mainContent %}

{% load static %}

<link rel="stylesheet" href="{% static 'passGen.css' %}" />
<script defer src="{% static 'passGen.js' %}"></script>


<div class="title">
  <div class="title-container">
    <i class="uil uil-notebooks title-icon"></i>
    <span class="text">Notes</span>
  </div>
  <a href="/tools">
    <div class="add-button">
      <div class="add">cancle</div>
      <i class="uil uil-times add-icon"></i>
    </div>
  </a>
</div>

<div class="main-content-container">
  <!-- Password Generator Code -->
  <div class="container">
    <h2>Password Generator</h2>
    <div class="result-container">
      <span id="result"></span>
      <button class="btn" id="clipboard">
        <i class="uil uil-clipboard"></i>
      </button>
    </div>
    <div class="settings">
      <div class="setting">
        <label>Password length</label>
        <input
          type="number"
          class="length"
          id="length"
          min="4"
          max="25"
          value="16"
        />
      </div>
      <div class="setting">
        <label>Include uppercase letters</label>
        <input type="checkbox" id="uppercase" checked />
      </div>
      <div class="setting">
        <label>Include lowercase letters</label>
        <input type="checkbox" id="lowercase" checked />
      </div>
      <div class="setting">
        <label>Include numbers</label>
        <input type="checkbox" id="numbers" checked />
      </div>
      <div class="setting">
        <label>Include symbols</label>
        <input type="checkbox" id="symbols" checked />
      </div>
    </div>
    <button class="btn btn-large" id="generate">
      Generate password
    </button>
  </div>
</div>
  

{% endblock mainContent %}
