{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    {% comment %}
    <link rel="stylesheet" href="./login-signup.css" />
    {% endcomment %}
    <link rel="stylesheet" href="{% static 'login-signup.css' %}" />
  </head>
  <body>
    <div class="wrapper">
      <h1>Sign Up</h1>
      <form action="/signup" role="form" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" />
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <input
          type="password"
          name="confirmPassword"
          placeholder="Confirm Password"
        />
        <button type="submit" value="register" name="signup-form">
          Signup
        </button>
      </form>
      <div class="member">Already a member? <a href="/login">Login here</a></div>
    </div>
  </body>
</html>
