{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Abstractor</title>
    <link rel="stylesheet" href="{% static 'start.css' %}" />
  </head>
  <body>
    <div class="start-container">
      <div class="container">
        <div class="top">
          <div class="logo-text">
            <span>A</span>
            <span>B</span>
            <span>S</span>
            <span>T</span>
            <span>R</span>
            <span>A</span>
            <span>C</span>
            <span>T</span>
            <span>O</span>
            <span>R</span>
          </div>
          <p>The Pass Manager</p>
        </div>
        <div class="center">
          <a href="/login">
            <button class="btn">Login</button>
          </a>
          <div class="or">or</div>
          <a href="/signup">
            <button class="btn">Signup</button>
          </a>
        </div>
        <div class="bottom">
          Make your passwords, emails, Card Details and personal notes secure,
          Encrypted and Available Everytime-Everywehre with this Website
        </div>
      </div>
    </div>
  </body>
</html>
