{% extends 'base.html' %}

{% block title %} Update Note | Abstractor {% endblock %}

{% block mainContent %}

<div class="title">
  <div class="title-container">
    <i class="uil uil-notebooks title-icon"></i>
    <span class="text">Notes</span>
  </div>
  <a href="/notes">
    <div class="add-button">
      <div class="add">cancle</div>
      <i class="uil uil-times add-icon"></i>
    </div>
  </a>
</div>

<div class="add-item-wrapper">
  <h1>Update your Note</h1>
  <h1>{{note}}</h1>
  <form action="/updatenote/{{note.id}}" role="form" method="POST">
    {% csrf_token %}
    <div class="input-container">
      <input type="text" name="topic" value={{note.topic}} />
      <span class="lable">Title:</span>
      <span class="lable-sm">Title</span>
    </div>
    <div class="input-container">
      <textarea type="text" name="desc" cols="30" rows="12" >{{note.desc}}</textarea>
      <span class="lable">Note:</span>
      <span class="lable-sm">Note</span>
    </div>
    <button type="submit" value="update" name="update-note">Update</button>
  </form>
  <div class="member">Write anything that is importent fou you</div>
</div>

{% endblock mainContent %}
